{% extends 'parent/base.html' %}
{% block title %}post list{% endblock %}
{% block content %}
<ol style="--length: {{ posts|length }}" role="list">
    <h1>post list</h1>
    {% for post in posts %}
        <li style="--i: {{ forloop.counter  }}">
        <h3>
        <a href="{{ post.get_absolutue_url }}">{{ post.title }}</a>
        </h3>

        <p>{{ post.description | truncatewords:5 }}</p>
        </li>
    {% endfor %}
</ol>
    {% include 'partials/paginator.html' with page=page_obj %}


{% endblock %}